body{
	display: grid;
  grid-template-columns: .1fr .2fr .1fr .7fr 3fr .2fr 1fr;
  grid-template-rows: 2em 6.5em 6.5em 2em 6.5em 6.5em 2em 6.5em 6.5em 2em 6.5em 6.5em 2em 6.5em 6.5em 2em 6.5em 6.5em 2em;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #F2F2E9;
}

.infobar a{
	color: white;
	text-decoration: none;
}

.infobar{
	background-color: #658C3E;
	grid-column: 2/3;
	grid-row: 1/12;
	color: white;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	text-align: center; 
	line-height:2rem;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	position: sticky; 
top: 0; 
height: 100vh;
	
}

.logo{
	
	grid-column: 7/8;
	grid-row: 2/4;
	border: 10px solid #154001;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	padding-left: 1em;
	color: #333333;
	align-items: center;
	position: sticky; 
	top: 2em; 


}
.logo a{
	text-decoration: none;
	color: #333333;
}

.linedecor{
	grid-column: 7/8;
	grid-row: 1/20;
	border-left: 10px solid #154001;
	z-index: -20;

}
/*info*/
}
.right1{
	grid-column: 6/8;
	grid-row: 6/7;

	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	padding-left: 20px;
	text-align: center;
	background-color: #658C3E;
	color: white;
	border: 10px solid #658C3E;
	top: 23.5em; 
	position: sticky; 
}
.right2{
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	grid-column: 7/8;
	grid-row: 8/10;
	 align-self: start;
	 top: 31.5em; 
	position: sticky; 
	padding-left: 2em;

}

.right2 a{
	background-color: #F2F2E9; 
  color: #658C3E; 
  border: 3px solid #658C3E;
  padding: 5px;
  text-decoration: none;

}
.container{
	color: #333333;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	grid-column: 5/6;
	grid-row: 1/16;
	padding: 5px; 
	
}

.info1{
	grid-column: 5/6;
	grid-row: 2/3;
}

.info2{
grid-column: 5/6;
}

.info3{
grid-column: 5/6;
}

.info4{
grid-column: 5/6;
}
.infobutton{
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	grid-column: 5/6;
	grid-row: 17/18;
	background-color: #8DBF5A;
	color: white;
	text-align: center



}
.infobutton a{
	color: white;
	text-decoration: none;
}
/*info*/

/*navigation*/
.rt1{
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	padding-left: 20px;
	text-align: center;
	grid-column: 7/8;
	grid-row: 5/6;
	top: 17em; 
	position: sticky;
	
	color: #333333;
	border: 10px solid #154001; 
}
	.rt1 a{
	text-decoration: none;
	color: #333333;

		}

	.rt1active{
	grid-column: 6/8;
	grid-row: 5/6;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	padding-left: 20px;
	text-align: center;
	background-color: #658C3E;
	color: white;
	border: 10px solid #658C3E;
	top: 17em; 
	position: sticky; 
	}

.rt2{

	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	padding-left: 20px;
	text-align: center;
	grid-column: 7/8;
	grid-row: 6/7;
	top: 23.5em; 
	position: sticky; 
	
	color: #333333;
	border: 10px solid #154001; 
}
	.rt2 a{
	text-decoration: none;
	color: #333333;
	}

	.rt2active{
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	padding-left: 20px;
	text-align: center;
	grid-column: 6/8;
	grid-row: 6/7;
	background-color: #658C3E;
	color: white;
	border: 10px solid #658C3E;
	top: 23.5em; 
	position: sticky; 
	}

.rt3{
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	padding-left: 20px;
	text-align: center;
	grid-column: 7/8;
	grid-row: 8/9;
	top: 32em; 
	position: sticky;
	
	color: #333333;
	border: 10px solid #154001;  
}
	.rt3 a{
	text-decoration: none;
	color: #333333;
	}

	.rt3active{
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	padding-left: 20px;
	text-align: center;
	grid-column: 6/8;
	grid-row: 8/9;
	top: 32em; 
	position: sticky;
	background-color: #658C3E;
	color: white;
	border: 10px solid #658C3E;

	}

.rt4{
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	padding-left: 20px;
	text-align: center;
	grid-column: 7/8;
	grid-row: 9/10;
	top: 38.5em; 
	position: sticky; 
	
	color: #333333;
	border: 10px solid #154001; 
}
	.rt4 a{
	text-decoration: none;
	color: #333333;
	}

	.rt4active{
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	padding-left: 20px;
	text-align: center;
	grid-column: 6/8;
	grid-row: 9/10;
	top: 38.5em; 
	position: sticky; 
	background-color: #658C3E;
	color: white;
	border: 10px solid #658C3E;

	}
/*navigation*/

